{% macro article_card(article) %}
<article class="article-card">
	<p class="date" >{{ article.published_at | date }}</p>
	<div class="article-card-body">
		<div class="article-info">
			<p class="title">
				{{ article.primary_category.name | upper }}
			</p>
			<p class="read-time" >
				{{ article.read_time }} MIN READ
			</p>
		</div>
		<h3>
			<a href="{{ url_for('article.article', slug=article.slug) }}">{{ article.title }}</a>
		</h3>
		<div class="article-text" >
			<p> {{ article.excerpt }} </p>
			<hr>
			<ul class="article-tags">
				{% for tag in article.tags %}
				<li>
					<a href="{{ url_for('article.articles', slug=article.slug) }}">[ {{ tag.name|upper }} ]</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</article>
{% endmacro %}
