<footer>
	<ul>
		<!-- <li> -->
		<!-- 	<a class="foreground-2" href="">/rss</a> -->
		<!-- </li> -->
		<li>
			<a class="foreground-2" href="mailto:mail@lukadinic.dev">/email</a>
		</li>
		<li>
			<a class="foreground-2" href="https://github.com/Almighty42">/github</a>
		</li>
		<li>
			<a class="foreground-2" href="https:/linkedin.com/in/luka-dinicc">/linkedin</a>
		</li>

		<li>
			<a class="foreground-2" href="https://github.com/Almighty42/Open-Source-Wizard">/source</a>
		</li>
	</ul>
	<p>✴</p>
	<p style="font-size: 0.8rem;font-style: " IBM Plex Mono" monospace;">© Open Source Wizard</p>
</footer>
