<footer class="footer">
  <ul role="list" class="footer__links">
    <li>
      <a class="footer__link-anchor" href="mailto:mail@lukadinic.dev">/email</a>
    </li>
    <li>
      <a class="footer__link-anchor" href="https://github.com/Almighty42"
        >/github</a
      >
    </li>
    <li>
      <a class="footer__link-anchor" href="https:/linkedin.com/in/luka-dinicc"
        >/linkedin</a
      >
    </li>

    <li>
      <a
        class="footer__link-anchor"
        href="https://github.com/Almighty42/Open-Source-Wizard"
        >/source</a
      >
    </li>
  </ul>
  <p>✴</p>
  <p class="footer__trademark">© Open Source Wizard</p>
</footer>
