<header>
	<div>
		<img
		data-theme-image
		data-light-src="/static/assets/logo.svg"
		data-dark-src="/static/assets/logo_dark.svg"
		id="site-logo" src="{{ url_for('static', filename='assets/logo.svg') }}" alt="Open Source Wizard Logo"
		/>
		<p class="foreground-1">[ Open Source Wizard ]</p>
	</div>
	<ul>
		<li>
			<a class="{{ 'foreground-1' if request.endpoint == 'main.index' else 'foreground-2' }}"
				href="{{ url_for('main.index') }}">
				{% if request.endpoint == 'main.index' %}
				&#62;
				{% endif %}
				[ / ]</a>
		</li>
		<li>
			<a class="{{ 'foreground-1' if request.endpoint == 'main.articles' else 'foreground-2' }}"
				href="{{ url_for('main.articles') }}">
				{% if request.endpoint == 'main.articles' %}
				&#62;
				{% endif %}
				[ /Articles ]</a>
		</li>
		<li>
			<a class="{{ 'foreground-1' if request.endpoint == 'main.projects' else 'foreground-2' }}"
				href="{{ url_for('main.projects') }}">
				{% if request.endpoint == 'main.projects' %}
				&#62;
				{% endif %}
				[ /Projects ]</a>
		</li>
		<li>
			<a class="{{ 'foreground-1' if request.endpoint == 'main.about' else 'foreground-2' }}"
				href="{{ url_for('main.about') }}">
				{% if request.endpoint == 'main.about' %}
				&#62;
				{% endif %}
				[ /About ]</a>
		</li>
		
		{% if current_user.is_authenticated %}
		<li>
			<a class="foreground-2" href="{{ url_for('main.about') }}">[ /Logout ]</a>
		</li>
		{% endif %}
		<li>
			<a class="foreground-2" id="mode_switch">[ ☼ ]</a>
		</li>
	</ul>
</header>
