{% import "_image.html" as image_comp %}
{% import "_header_link.html" as link_comp %}
<header class="header">
    <div class="header__logo-block">
        {{ image_comp.image('icons/logo.svg',
                'icons/logo_dark.svg',
                '',
                '',
                'Open Source Wizard Logo') }}
        <p class="header__logo-text foreground-1">[ Open Source Wizard ]</p>
    </div>
    <ul role="list" class="header__links">
        <li>{{ link_comp.link('main.index', 'header__link-anchor', '/') }}</li>
        <li>{{ link_comp.link(['article.articles', 'article.article'], 'header__link-anchor', '/Articles') }}</li>
        <li>{{ link_comp.link(['project.projects', 'project.project'], 'header__link-anchor', '/Projects') }}</li>
        <li>{{ link_comp.link('main.about', 'header__link-anchor', '/About') }}</li>
        {% if current_user.is_authenticated %}
            <li>
                <a class=" header__link-anchor" href="{{ url_for('auth.logout') }}">[ /Logout ]</a>
            </li>
        {% endif %}
        <li>
            <button class=" header__link-anchor" id="change-theme">[ ☼ ]</button>
        </li>
    </ul>
</header>
