{% macro project_card(project) %}
    <article class="project-card">
        {% if project.cover_image %}
            <img class="project-card__cover" src="/{{project.cover_image.path}}" />
        {% else %}
            <img class="project-card__cover" src="{{ url_for('static', filename='assets/icons/components/placeholder.png') }}" />
        {% endif %}
        <div class="project-card__body">
            <div class="project-card__category-body">
                <p class="project-card__category" >{{ project.primary_category.name | upper }}</p>
                <div class="project-card__status" style="gap: 16px;" >
                    {% if project.status.value == "draft" %}
                        <b>[ DRAFT ]</b>
                    {% elif project.status.value == "archived" %}
                        <b>[ ARCHIVED ]</b>
                    {% endif %}
                    {% if project.project_state.value == "abandoned" %}
                        <b>[ ABANDONED ]</b>
                    {% elif project.project_state.value == "planned" %}
                        <b>[ PLANNED ]</b>
                    {% elif project.project_state.value == "ongoing" %}
                        <b>[ ONGOING ]</b>
                    {% endif %}
                </div>
            </div>
            <h3 class="project-card__title" >
                <a href="{{ url_for('project.project', slug=project.slug) }}">{{ project.title }}</a>
            </h3>
            <div class="project-card__content-section" >
                <p class="project-card__excerpt" >{{ project.excerpt }}</p>
                <hr class="project-card__divider" >
                <ul role="list" class="project-card__tags">
                    {% for tag in project.tags %}
                        <li>
                            <a href="{{ url_for('project.projects', tag=tag.slug) }}">[ {{ tag.name|upper }} ]</a>
                        </li>
                    {% endfor %}
                    <li>
                        <p>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    {% endmacro %}
