{% macro project_card(project) %}
<article class="project-card">
	<img src="{{ url_for('static', filename=project.img) }}" />
	<div class="project-text">
		<p>
			{{ project.primary_category.name | upper }}
		</p>
		<h3>
			<a href="{{ url_for('project.project', slug=project.slug) }}">{{ project.title }}</a>
		</h3>
		<div>
			<p> {{ project.excerpt }} </p>
			<hr>
			<ul class="article-tags">
				{% for tag in project.tags %}
				<li>
					<a href="{{ url_for('project.projects', slug=project.slug) }}">[ {{ tag.name|upper }} ]</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</article>
{% endmacro %}
