{% extends "base.html" %}

{% block content %}

<div id="login-page">
	<img data-theme-image data-light-src="/static/assets/icons/logo.svg" data-dark-src="/static/assets/icons/logo_dark.svg"
		id="site-logo" src="{{ url_for('static', filename='assets/icons/logo.svg') }}"
		alt="Open Source Wizard Logo" />
	<form action="" method="post" novalidate >
		{{ form.hidden_tag() }}
		<div class="input-box" >
			<p>{{ form.username.label }}</p>
			{{ form.username(size=32) }}
		</div>
		<div class="input-box" >
			<p>{{ form.password.label }}</p>
			{{ form.password(size=32) }}
		</div>
		{{ form.submit() }}
	</form>
</div>

{% endblock %}
