{% extends "base.html" %}
{% import "macros/_image.html" as image_comp %}
{% block content %}

<div class="page login">
        {{ image_comp.image('icons/logo.svg',
                'images/logo_dark.svg',
                'login__logo',
                'site-logo',
                'Open Source Wizard Logo') }}
	<form class="login__form" action="" method="post" novalidate >
		{{ form.hidden_tag() }}
		<div class="input-box--sm" >
			<p>{{ form.username.label(class_="input-box--sm__label") }}</p>
			{{ form.username(size=32, class_="input-box--sm__input") }}
		</div>
		<div class="input-box--sm" >
			<p>{{ form.password.label(class_="input-box--sm__label") }}</p>
			{{ form.password(size=32, class_="input-box--sm__input") }}
		</div>
		{{ form.submit(class_="button") }}
	</form>
</div>

{% endblock %}
