:root {
  --primitive-neutral-50: #fdfdfc;
  --primitive-neutral-100: #f5f4f1;
  --primitive-neutral-200: #e7e4dc;
  --primitive-neutral-300: #d4d0c7;
  --primitive-neutral-400: #b7b2a7;
  --primitive-neutral-500: #9a9488;
  --primitive-neutral-600: #757570;
  --primitive-neutral-700: #5b5b57;
  --primitive-neutral-800: #3a3a37;
  --primitive-neutral-900: #1a1a18;

  --primitive-red-50: #fdf1f0;
  --primitive-red-100: #f7dfdc;
  --primitive-red-200: #efc3be;
  --primitive-red-300: #e29d95;
  --primitive-red-400: #cf746a;
  --primitive-red-500: #b9564b;
  --primitive-red-600: #984238;
  --primitive-red-700: #743129;
  --primitive-red-800: #52231d;
  --primitive-red-900: #341613;

  --primitive-yellow-50: #fcf8ed;
  --primitive-yellow-100: #f5ecd1;
  --primitive-yellow-200: #ead7a2;
  --primitive-yellow-300: #dcbc6f;
  --primitive-yellow-400: #c79f42;
  --primitive-yellow-500: #a8842a;
  --primitive-yellow-600: #846820;
  --primitive-yellow-700: #624d18;
  --primitive-yellow-800: #453611;
  --primitive-yellow-900: #2d230b;

  --primitive-green-50: #eff7f1;
  --primitive-green-100: #dcecdc;
  --primitive-green-200: #bdd6bf;
  --primitive-green-300: #97bb9a;
  --primitive-green-400: #6f9d74;
  --primitive-green-500: #538058;
  --primitive-green-600: #406544;
  --primitive-green-700: #2f4b32;
  --primitive-green-800: #203322;
  --primitive-green-900: #142016;

  --primitive-duration-instant: 0ms;
  --primitive-duration-fastest: 70ms;
  --primitive-duration-faster: 120ms;
  --primitive-duration-fast: 180ms;
  --primitive-duration-base: 240ms;
  --primitive-duration-slow: 320ms;
  --primitive-duration-slower: 420ms;
  --primitive-duration-slowest: 560ms;
}
