@use "../abstracts";

.button {
  @include abstracts.flex-center(row, var(--space-2));
  @include abstracts.base-border();
  font-size: var(--text-sm);
  padding: var(--space-1) var(--space-3);
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  cursor: pointer;

  &:hover {
    background-color: var(--color-text-primary);
    color: var(--color-bg);
  }
}

.anchor-button {
  width: fit-content;
  @include abstracts.flex-center(row, var(--space-2));
  @include abstracts.base-border();
  font-size: var(--text-sm);
  padding: var(--space-1) var(--space-3);
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  cursor: pointer;

  >svg {
    width: var(--space-6);
    height: var(--space-6);
  }

  &:hover {
    background-color: var(--color-text-primary);
    color: var(--color-bg);
  }
}
