@use "../abstracts";

.admin-form {
  width: 100%;
  @include abstracts.flex(var(--space-10), column);
  padding: var(--space-12) 0 var(--space-24) 0;
  margin: 0px !important;

  &__heading-section {
    @include abstracts.flex(var(--space-3), column);
  }

  &__heading-subtitle {
    color: var(--color-text-tertiary);
    text-transform: uppercase;
    letter-spacing: --letter-spacing-wider;
  }

  &__heading-title {}

  &__body {
    @include abstracts.flex(var(--space-6), column);
  }

  &__section {
    width: 100%;
    @include abstracts.flex(var(--space-3), column);
  }

  &__row-section {
    width: 100%;
    @include abstracts.flex-between(end, var(--space-6));
  }

  &__section-label {
    font-size: var(--text-sm);
  }

  &__section-title {}

  &__section-input,
  &__section-select,
  &__section-textarea {
    width: 100%;
    @include abstracts.base-border();
    background: var(--color-bg);
    color: var(--color-text-primary);
    padding: var(--space-4);
    font: inherit;
    resize: vertical;
    outline: none;
  }

  &__section-textarea {
    min-height: 140px;
  }

  &__actions {
    @include abstracts.flex(var(--space-4), row);
  }

  &__error {
    background-color: var(--color-error);
    color: var(--color-error-text);
  }

  &__messages {
    margin-top: var(--space-4);
  }

  &__message {
    padding: var(--space-4);
    @include abstracts.base-border();
  }
}
