@use "../abstracts";

.pagination {
  @include abstracts.flex-center(row, var(--space-4));
  margin-top: var(--space-10);
  font-family: var(--font-display);
  font-size: var(--text-xs);

  &__button {
    @include abstracts.flex-center(row);
    @include abstracts.base-border();
    min-width: var(--space-20);
    padding: var(--space-2) var(--space-3);
    color: var(--color-text-primary);
    text-decoration: none;
    box-sizing: border-box;
    text-transform: uppercase;

    &:hover {
      background-color: var(--color-text-primary);
      color: var(--color-bg);
    }

    &--disabled {
      opacity: 0.3;
      cursor: default;
      pointer-events: none;
    }
  }

  &__info {
    color: var(--color-text-secondary);
  }
}
