{% extends "base.html" %}
{% import "components/_article.html" as article_comp %}
{% import "components/_project.html" as project_comp %}

{% block content %}

{% include 'components/_header.html' %}

<div id="main-page">
	<h1>Welcome Wanderer</h1>
	<img
	data-theme-image
	data-light-src="/static/assets/hero.svg"
	data-dark-src="/static/assets/hero_dark.svg"
	id="site-hero" class="hero" src="{{ url_for('static', filename='assets/hero.svg') }}" alt="Hero Section Image Svg" />
	<p style="text-align:center;" >
	Writing about software engineering, embedded systems,<br> and projects as I learn and build
	</p>
	<section>
		<div class="section-heading" >
			<h2>
				Recent Articles
			</h2>
			<a href="{{ url_for('article.articles') }}" > &#62; See more</a>
		</div>
		<hr>
		<div class="articles" >
			{% for article in articles %}
				{{ article_comp.article_card(article) }}
			{% endfor %}
		</div>
	</section>

	<section style="margin-bottom: 0px;" >
		<div class="section-heading" >
			<h2>
				Recent Projects 
			</h2>
			<a href="{{ url_for('project.projects') }}" > &#62; See more</a>
		</div>
		<hr>
		<div class="articles" >
			{% for project in projects %}
				{{ project_comp.project_card(project) }}
			{% endfor %}
		</div>
	</section>
	<img
	data-theme-image
	data-light-src="/static/assets/footer-hero.svg"
	data-dark-src="/static/assets/footer-hero_dark.svg"
	id="site-footer_hero" class="footer-hero" src="{{ url_for('static', filename='assets/footer-hero.svg') }}" alt="Hero Section Image Svg" />
</div>

{% include 'components/_footer.html' %}

{% endblock %}
