@use "../abstracts";

.footer {
  height: fit-content;
  padding: var(--space-4);
  @include abstracts.flex-between();
  border-top: solid var(--border-width-thin) var(--color-border-2);

  &__links {
    @include abstracts.flex(var(--space-6), row, flex-start, center);
  }

  &__link-anchor {
    font-size: var(--text-xs);
    text-decoration: none;
    white-space: nowrap;
    color: var(--color-text-secondary);
  }

  &__trademark {
    font-size: var(--text-xs);
  }
}
