.header {
  width: 70%;
  height: 100%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);

  &__logo_block {
    width: 100%;
    align-items: center;
    gap: 16px;

    >p {
      font-size: 0.9rem;
      user-select: none;
    }
  }

  >ul {
    gap: 1.5rem;

    >li {
      >a {
        font-size: 0.8rem;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  }
}

#mode_switch {
  cursor: pointer;
  user-select: none;
}
