@import "header";
@import "footer";
@import "article";
@import "project";
@import "login";

@import "index";

// @font-face {
//   font-family: "osp";
//   src: url("../fonts/osp.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
//
// @font-face {
//   font-family: "osp";
//   src: url("../fonts/osp_bold.ttf") format("truetype");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }
//
// @font-face {
//   font-family: "osp";
//   src: url("../fonts/osp_italic.ttf") format("truetype");
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }
//
// @font-face {
//   font-family: "osp";
//   src: url("../fonts/osp_bold_italic.ttf") format("truetype");
//   font-weight: bold;
//   font-style: italic;
//   font-display: swap;
// }

:root {
  color-scheme: light dark;

  --color-bg: #FDFDFC;
  --color-fg-1: #1A1A18;
  --color-fg-2: #5B5B57;
  --color-border: #1A1A18;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2.5rem;
}

html[data-theme="dark"] {
  --color-bg: #1b1b19;
  --color-fg-1: #e7e4dc;
  --color-fg-2: #b7b2a7;
  --color-border: #6c6960;
}

html[data-theme="light"] {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) {
    --color-bg: #121212;
    --color-fg-1: #F5F5F0;
    --color-fg-2: #B8B8B2;
    --color-border: #F5F5F0;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-bg);
  color: var(--color-fg-1);
}

body,
p,
li,
a,
h1,
h2,
h3 {
  margin: 0;
}

code,
pre {
  font-family: IBM Plex Mono, monospace;
}

p,
li,
a {
  font-size: var(--text-base);
  line-height: 1.6;
}

small {
  font-size: var(--text-sm);
  line-height: 1.4;
}

h1 {
  font-size: var(--text-2xl);
  line-height: 1.2;
}

h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: var(--text-xl);
  line-height: 1.3;
}

h3 {
  font-size: var(--text-lg);
  line-height: 1.3;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
div,
article,
header,
footer,
section,
form,
ul {
  display: flex;
  box-sizing: border-box;
}

.foreground-1 {
  color: var(--color-fg-1)
}

.foreground-2 {
  color: var(--color-fg-2)
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
