{% extends "base.html" %}
{% import "components/_article.html" as article_comp %}
{% import "components/_pagination.html" as paginator %}

{% block content %}

{% include 'components/_header.html' %}

<div id="main-page">
	<nav>
		<h1>Articles</h1>
		<div class="nav-subdiv">
			<form id="article-filter" action="{{ url_for('article.articles') }}" method="get">
				<div id="nav-search" class="input-box">
					<input
					type="text"
					name="q"
					placeholder="Search"
					value="{{ request.args.get('q', '') }}"
					/>
				</div>

				<div id="nav-categories" class="custom-select" data-name="category">
					<div class="custom-select__trigger">
						<span class="custom-select__value">All</span>
						<span class="select-arrow" aria-hidden="true">
						<img src="{{ url_for('static', filename='assets/dropdown.svg') }}" />
						</span>
					</div>
					<ul class="custom-select__dropdown">
						<li class="custom-select__option {% if not request.args.get('category') %}selected{% endif %}"
						data-value="">All</li>
						{% for category in categories %}
						<li class="custom-select__option {% if request.args.get('category') == category.slug %}selected{% endif %}"
						data-value="{{ category.slug }}">{{ category.name }}</li>
						{% endfor %}
			</ul>
			<input type="hidden" name="category" value="{{ request.args.get('category', '') }}">
		</div>

		<div id="nav-tags" class="custom-select custom-multiselect" data-name="tag">
			<div class="custom-select__trigger">
				<span class="custom-select__value">All</span>
				<span class="select-arrow" aria-hidden="true">
					<img src="{{ url_for('static', filename='assets/dropdown.svg') }}" />
				</span>
			</div>
			<ul class="custom-select__dropdown">
				{% for tag in tags %}
				<li class="custom-select__option {% if tag.slug in request.args.getlist('tag') %}checked{% endif %}"
				data-value="{{ tag.slug }}">
				<span class="custom-select__checkbox"></span>
				{{ tag.name }}
				</li>
				{% endfor %}
			</ul>
			{% for tag in tags %}
			{% if tag.slug in request.args.getlist('tag') %}
			<input type="hidden" name="tag" value="{{ tag.slug }}">
			{% endif %}
			{% endfor %}
		</div>

            </form>
        </div>
	</nav>
<div class="articles" id="articles-list" style="margin-top: 40px;">
    {% if articles %}
        {% for article in articles %}
            {{ article_comp.article_card(article) }}
        {% endfor %}
        {{ paginator.pagination_controls(pagination) }}
    {% else %}
        <p>No articles found.</p>
    {% endif %}
</div>
</div>

{% include 'components/_footer.html' %}

{% endblock %}
