{% extends "base.html" %}
{% import "components/_article-card.html" as article_comp %}
{% import "components/_pagination.html" as paginator %}
{% import "_input.html" as input_comp %}
{% import "_dropdown.html" as dropdown_comp %}
{% import "_anchor-button.html" as button_comp %}
{% block content %}
    {% include 'components/_header.html' %}
    <div class="page">
        <nav class="navigation">
            <h1>Articles</h1>
            <div>
                <form class="navigation__form"
                      id="article-filter"
                      action="{{ url_for('article.articles') }}"
                      method="get">
                    {{ input_comp.input(label="Search",
                                        type="text",
                                        id="nav-search",
                                        name="q",
                                        value=request.args.get('q', '') ,
                    inline=True
                    )
                    }}
                    {{ dropdown_comp.dropdown(is_multiselect=False,
                                        id="nav-categories",
                                        values=categories,
                                        type="category") }}
                    {{ dropdown_comp.dropdown(is_multiselect=True,
                                        id="nav-tags",
                                        values=tags,
                                        type="tags") }}
                </form>
            </div>
        </nav>
        <div class="card-list" id="articles-list">
            {% if is_admin %}
                <div class="card-list__actions">
                    {{ button_comp.button(icon="", text="Add Article", link="admin.add_article") }}
                    {{ button_comp.button(icon="", text="Add Tag", link="admin.add_tag") }}
                    {{ button_comp.button(icon="", text="Add Category", link="admin.add_category") }}
                    {{ button_comp.button(icon="", text="Add Asset", link="admin.add_asset") }}
                </div>
            {% endif %}
            <div class="card-list__body">
                {% if articles %}
                    {% for article in articles %}{{ article_comp.article_card(article) }}{% endfor %}
                    {{ paginator.pagination_controls(pagination) }}
                {% else %}
                    <p>No articles found.</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'components/_footer.html' %}
{% endblock %}
